<div class="expenses_container1">
  <h1>My Expenses</h1>
  <div>
    <div>
      <label>Select Search Timeframe Criteria</label>
      <div>
        <input type ="radio" name ="rad1" (click)= "changeSearchBy('last60')">All Time
        <input type ="radio" name ="rad1" (click)= "changeSearchBy('period')" >Period
        <input type ="radio" name ="rad1" (click)= "changeSearchBy('dateRange')" >Date Range
      </div>
      <div *ngIf="searchBy === 'period'">
        <label>Period: </label>
        <select [(ngModel)] = "expensesRequest.period">
          <option></option>
          <option *ngFor="let period of periodData" value = "{{ period.id }}">{{ period.start_date | date: 'MM/dd/yyyy' }} - {{ period.end_date | date: 'MM/dd/yyyy' }}</option>
          <option></option>      
        </select>
      </div>
      <div *ngIf="searchBy === 'dateRange'">
        <label>Start Date: </label>
        <input [(ngModel)] = "expensesRequest.startdate"
          placeholder="Start Date"
          class="form-control"
          bsDatepicker>
        <label>End Date: </label>
        <input [(ngModel)] = "expensesRequest.enddate"
          placeholder="End Date"
          class="form-control"
          bsDatepicker>
      </div>

      <!-- <label>User ID: </label>
      <input [(ngModel)] = "expensesRequest.users_id" /> -->
      <label>Category: </label>
      <select [(ngModel)] = "expensesRequest.category_id" >
        <option></option>
        <option *ngFor="let category of expCatData" value = "{{category.id}}">{{category.name}}</option>
      </select>
      <!-- <label>Accounts ID: </label>
      <input [(ngModel)] = "expensesRequest.accounts_id" /> -->
      <label>Name: </label>
      <input [(ngModel)] = "expensesRequest.name" />
      <!-- <label>Paid: </label>
      <select [(ngModel)] = "expensesRequest.paid" >
        <option value=null></option>
        <option value="true" >TRUE</option>
        <option value="false" >FALSE</option>
      </select> -->

      <label>Recurring: </label>
      <select [(ngModel)] = "expensesRequest.recurring" >
        <option value=null></option>
        <option value="true" >TRUE</option>
        <option value="false" >FALSE</option>
      </select>
      <label>Amount Due: </label>
      <input [(ngModel)] = "expensesRequest.amount_due" />
      <label>Amount Paid: </label>
      <input [(ngModel)] = "expensesRequest.amount_paid" /> 
      <div>
        <button (click)="loadExpensesRequest()">Search Expenses</button>
      </div>
    </div>
  </div>

  <div>
    <h2> Expenses Over Timeframe </h2>
    <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Due By</th>
        <th>Amount Paid</th>
        <th>Recurring</th>
        <th>Amount Due</th>
        <!-- <th>User ID</th>
        <th>Period Id</th> -->
        <th>Paid On</th>
      </tr>
      </thead>
      <tbody>
          <tr *ngFor="let expense_category of allExpenses" (click)=addToAnotherTable(expense_category)>
            <td>{{ expense_category.id }}</td>
            <td>{{ expense_category.name }}</td>
            <td>{{ expense_category.due_by | date: 'MM/dd/yyyy' }}</td>
            <td>{{ expense_category.amount_paid | currency: '$'}}</td>
            <td>{{ expense_category.recurring }}</td>
            <td>{{ expense_category.amount_due | currency: '$'}}</td>
            <!-- <td>{{ expense_category.users_id }}</td>
            <td>{{ expense_category.period_id }}</td> -->
            <td>{{ expense_category.paid_on | date: 'MM/dd/yyyy' }}</td>
        </tr>

        </tbody>
    </table>
  </div>

  <div>
    <h2> Line Item Expenses over Timeframe </h2>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <!-- <th>ID</th> -->
            <th>Name</th>
            <th>Paid</th>
            <th>Due By</th>
            <th>Paid On</th>
            <th>Recurring</th>
            <th>Amount Due</th>
            <th>Amount Paid</th>
            <!-- <th>User ID</th> -->
            <!-- <th>Category</th> -->
            <!-- <th>Accounts ID</th> -->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let expense of expenses">
            <!-- <td>{{ expense.id }}</td> -->
            <td>{{ expense.name }}</td>
            <td>{{ expense.paid }}</td>
            <td>{{ expense.due_by | date: 'MM/dd/yyyy'}}</td>
            <td>{{ expense.paid_on | date: 'MM/dd/yyyy' }}</td>
            <td>{{ expense.recurring }}</td>
            <td>{{ expense.amount_due | currency: '$'}}</td>
            <td>{{ expense.amount_paid | currency: '$'}}</td>
            <!-- <td>{{ expense.user_id }}</td> -->
            <!-- <td>{{ expense.category_id }}</td> -->
            <!-- <td>{{ expense.category_name }}</td> -->
            <!-- <td>{{ expense.accounts_id }}</td> -->
        </tr>
        </tbody>
    </table>
  </div>
