<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
      <a class="nav-item nav-link" routerLink="/budgetBalanceSheet">Budget Balance Sheet</a>
      <a class="nav-item nav-link" routerLink="/accountBalanceSheet">Account Balance Sheet</a>
      <a class="nav-item nav-link" routerLink="/income">Income</a>
      <a class="nav-item nav-link" routerLink="/expenses">Expenses</a>
      <a class="nav-item nav-link" routerLink="/period">Period</a>
      <a class="nav-item nav-link" routerLink="/budgets">Budgets</a>
  </div>
</nav>
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="!currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/login">Login</a>
      <a class="nav-item nav-link" routerLink="/register">Register</a>
  </div>
</nav> -->
<!-- main app container -->
<!-- <div class="container">
  <router-outlet></router-outlet>
</div> -->

<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-dark border-right" *ngIf="currentUser" id="sidebar-wrapper" >
    <div class="sidebar-heading">Quick Links </div>
    <div class="list-group list-group-flush">
      
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <!-- <a class="nav-item nav-link" (click)="logout()">Logout</a> -->
      <a class="nav-item nav-link" routerLink="/budgetBalanceSheet">Budget Balance Sheet</a>
      <a class="nav-item nav-link" routerLink="/accountBalanceSheet">Account Balance Sheet</a>
      <a class="nav-item nav-link" routerLink="/income">Income</a>
      <a class="nav-item nav-link" routerLink="/expenses">Expenses</a>
      <a class="nav-item nav-link" routerLink="/period">Period</a>
      <a class="nav-item nav-link" routerLink="/budgets">Budgets</a>
    </div>

  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper" >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom" >
      <button class="btn btn-secondary" id="menu-toggle" ><a><img src="../../assets/Images/icons8-menu-24.png" /> </a></button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" *ngIf="currentUser" id="navbarSupportedContent">
        <h1 >Finances Manager</h1>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <!-- <a class="nav-item nav-link" routerLink="/">Home</a> -->
          <!-- <a class="nav-item nav-link" (click)="logout()">Logout</a> -->

          <!-- <a class="nav-item nav-link" routerLink="/budgetBalanceSheet">Budget Balance Sheet</a>
          <a class="nav-item nav-link" routerLink="/accountBalanceSheet">Account Balance Sheet</a> -->
          <a class="nav-item nav-link" routerLink="/income">Income</a>
          <a class="nav-item nav-link" routerLink="/expenses">Expenses</a>
          <a class="nav-item nav-link" routerLink="/period">Period</a>
          <a class="nav-item nav-link" routerLink="/budgets">Budgets</a>
          <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
              Budget
            </a>
            <ul class="dropdown-menu"  ngbDropdownMenu aria-labelledby="navbarScrollingDropdown">
              <li ngbDropdownItem><a class="dropdown-item" href="/budgetBalanceSheet">Budget Balance Sheet</a></li>
              <li ngbDropdownItem><a class="dropdown-item" href="/budgetClone">Clone Budget</a></li>
              <li ngbDropdownItem><a class="dropdown-item" href="/budgetPost">Create New Budget</a></li>
              <li ngbDropdownItem><a class="dropdown-item" href="/budgetExpCatPost">Add Expense Category</a></li>
              <li ngbDropdownItem><a class="dropdown-item" href="/budgets">Budget Master</a></li>
            </ul>
          </li>
          <!-- <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
              Link
            </a>
            <ul class="dropdown-menu"  ngbDropdownMenu aria-labelledby="navbarScrollingDropdown">
              <li ngbDropdownItem><a class="dropdown-item" href="#">Action</a></li>
              <li ngbDropdownItem><a class="dropdown-item" href="#">Another action</a></li>
              <li ngbDropdownItem><hr class="dropdown-divider"></li>
              <li ngbDropdownItem><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
          <a class="nav-item nav-link" routerLink="/">Home</a>
          <a class="nav-item nav-link" (click)="logout()">Logout</a>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
    
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->  





