<div class="card">  
      <div class="card-body pb-0">  
        <h4 style="text-align: center;">Example of Angular Nested Grid</h4>  
        <div class="row">  
          <div class="col-12 col-md-12">  
            <div class="card">  
      
              <div class="card-body position-relative">  
                <div class="table-responsive cnstr-record product-tbl">  
                  <table class="table table-bordered heading-hvr">  
                    <thead>  
                      <tr>  
                        <th> </th>  
                        <th width="50">Art.No  
                            <th>Expense Category Name</th>
                            <th>User Id</th>
                            <th>Budget Expense Category Id</th>
                            <th>Budget Id</th>
                            <th>Period Id</th>
                            <th>Amount Budgeted</th>
                            <th>expenseItems</th>
                            <th>Amount Spent</th>
                            <th>Amount Remaining</th>
                            <th>Is Closed</th>
                      </tr>  
                    </thead>  
      
                    <tbody *ngFor="let item of balanceSheetItems; let i = index">  

                      <tr>  
                        <td align="center">  
                            <!-- <a class="expand-row" *ngIf="!hideme[i]" (click)="getExpenseItems(i,product.ProductId)">  
                                <img src="../../assets/Images/plus.png" />  
          
                              </a>  -->
                          <a class="expand-row" *ngIf="!hideme" (click)="getExpenseItems(item)">  
                            <img src="../../assets/Images/plus.png" />  
      
                          </a>  
                          <a class="expand-row" *ngIf="hideme" (click)="hideme = !hideme">  
                            <img src="../../assets/Images/minus.png" />  
                          </a>  
                        </td>
                        <td align="center">{{item.expenseCategoryId}}</td>  
                        <td>{{item.expenseCategoryName}}</td>
                        <td>{{item.usersId}}</td>
                        <td>{{item.budgetExpenseCategoryId}}</td>
                        <td>{{item.budgetId}}</td>
                        <td>{{item.periodId}}</td>
                        <td>{{item.amountBudgeted | currency: '$'}}</td>
                        <td>{{item.expenseItems}}</td>
                        <td>{{item.amountSpent | currency: '$'}}</td>
                        <td>{{item.amountRemaining | currency: '$'}}</td>
                        <td>{{item.closed}}</td>  
                      </tr>  
                      <!-- <div id="myresult" class="img-zoom-result"></div> -->  
                      <tr [hidden]="!hideme" class="sub-table no-bg">  
                        <td align="center"> </td>  
                        <td colspan="15" class="p-0">  
                          <table class="table mb-0 table-striped">  
                            <thead class="bg-dark text-white">  
                              <tr>  
                                <th>ID</th>  
                                <th>budgetExpenseCategoryId</th>  
                                <th>name</th>  
                                <th>transactionDate</th> 
                                <th>amount</th>  
                                  
                              </tr>  
                            </thead>  
                            <tbody> 
                                <tr>
                              <tr *ngFor="let expItem of expenseItems">  
                                  <!-- <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td> -->
                                  <td>{{expItem.id}}</td> 
                                <!-- <td>{{expenseItems.id}}</td>   -->
                                <!-- <td>{{expenseItems.budgetExpenseCategoryId}}</td> -->
                                <!-- <td>{{expenseItems.name}}</td>
                                <td>{{expenseItems.transactionDate}}</td>
                                <td>{{expenseItems.amount}}</td> -->
  
                              </tr>  
                            </tbody>  
                          </table>  
                        </td>  
                      </tr>  
                    </tbody>  
                  </table>  
                </div>  
              </div>  
            </div>  
          </div>  
        </div>  
      </div>  
