<div class="card mt-4">
    <h3 class="card-header" align="center" >Budgets</h3>
    <div class="card-body">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <table class="table table-bordered table-striped table-hover">
            <thead>  
                <tr>  
                    <th>Name</th>
                    <th>Period Id</th>
                    <th>Is Closed</th>
                    <th>Users ID</th>
                </tr>  
            </thead>  
            <tbody *ngFor="let budget of allBudgets; let i = index">  
                <tr>  
                    <td>{{budget.name}}</td>
                    <td>{{budget.periodId}}</td> 
                    <td>{{budget.closed}}</td> 
                    <td>{{budget.usersId}}</td> 
                </tr>   
            </tbody>  
        </table>  
    </div>
    <div class="card">
        <h4 class="card-header">Add a new Budget</h4>
        <div class="card-body">
            <form [formGroup]="newBudgetForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Budget Name</label>
                    <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="periodId">Period</label>
                    <!-- <input type="date" formControlName="periodId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.periodId.errors }" />
                    <div *ngIf="submitted && f.periodId.errors" class="invalid-feedback">
                        <div *ngIf="f.periodId.errors.required">Period is required</div>
                    </div> -->
                    <select class="custom-select" formControlName="periodId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.periodId.errors }" >
                        <option value="" >Select a Period</option>
                        <option value = {{period.id}} *ngFor="let period of allPeriods">
                            {{period.name}}: {{ period.startDate | date: 'MM/dd/yyyy' }} - {{ period.endDate | date: 'MM/dd/yyyy' }}</option>
                      </select>
                </div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Submit
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
        </div>
    </div>
<div>

