<div class="card mt-4">
    <h3 class="card-header" align="center" >Budget</h3>
    <div class="card-body">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <table class="table table-bordered table-striped table-hover">
            <thead>  
                <tr>  
                    <th>Name</th>
                    <th>Period Id</th>
                    <th>Is Closed</th>
                    <th>Users ID</th>
                </tr>  
            </thead>  
            <!-- <tbody *ngFor="let budget of allBudgets; let i = index">   -->
            <tbody *ngFor="let budget of (allBudgets | async); let i = index">  
                <tr>  
                    <td>{{budget.name}}</td>
                    <td>{{budget.periodId}}</td> 
                    <td>{{budget.closed}}</td> 
                    <td>{{budget.usersId}}</td> 
                </tr>   
            </tbody>  
        </table>  
    </div>
    
    <app-budget-post></app-budget-post>
    <app-budget-clone></app-budget-clone>
    <app-budget-expense-category-post></app-budget-expense-category-post>

<div>

