    <div class="card mt-4">
        <h3 class="card-header" align="center" >Clone Budget</h3>
        <div class="card-body">
            <form [formGroup]="cloneBudgetForm" (ngSubmit)="onSubmitClone()">
                <div class="form-group">
                    <label for="name">Desired Name of New Budget</label>
                    <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submittedClone && cF.name.errors }" />
                    <div *ngIf="submittedClone && cF.name.errors" class="invalid-feedback">
                        <div *ngIf="cF.name.errors.required">name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="periodId">New Budget Period</label>
                    <select class="custom-select" formControlName="periodId" class="form-control" [ngClass]="{ 'is-invalid': submittedClone && cF.periodId.errors }" >
                        <option value="" >Select a Period to assign Budget to</option>
                        <option value = {{period.id}} *ngFor="let period of periodsSansBudget">
                            {{period.name}}: {{ period.startDate | date: 'MM/dd/yyyy' }} - {{ period.endDate | date: 'MM/dd/yyyy' }}</option>
                      </select>
                </div>
                <div class="form-group">
                    <label for="templateBudgetId">Template Budget</label>
                    <select class="custom-select" formControlName="templateBudgetId" class="form-control" [ngClass]="{ 'is-invalid': submittedClone && cF.templateBudgetId.errors }" >
                        <option value="" >Select a Budget to clone from</option>
                        <option value = {{budget.id}} *ngFor="let budget of allBudgets">
                            {{budget.name}}</option>
                      </select>
                </div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Submit
                </button>
                <div *ngIf="errorClone" class="alert alert-danger mt-3 mb-0">{{errorClone}}</div>
            </form>
        </div>
    </div>
<div>
