<div class="card mt-4">
    <h3 class="card-header" align="center" >Periods</h3>
    <div class="card-body">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <table class="table table-bordered table-striped table-hover">
            <thead>  
                <tr>  
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>  
            </thead>  
            <tbody *ngFor="let period of allPeriods; let i = index">  
                <tr>  
                    <td>{{period.name}}</td>
                    <td>{{period.startDate  | date: 'MM/dd/yyyy' }}</td>
                    <td>{{period.endDate | date: 'MM/dd/yyyy' }}</td> 
                </tr>   
            </tbody>  
        </table>  
    </div>
    <div class="card">
        <h4 class="card-header">Add a new Period</h4>
        <div class="card-body">
            <form [formGroup]="newPeriodForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Period Name</label>
                    <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="startDate">Period Start Date</label>
                    <input type="date" formControlName="startDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }" />
                    <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                        <div *ngIf="f.startDate.errors.required">Start Date is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="endDate">Period Start Date</label>
                    <input type="date" formControlName="endDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }" />
                    <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
                        <div *ngIf="f.endDate.errors.required">End Date is required</div>
                    </div>
                </div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Submit
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
        </div>
    </div>
</div>
